# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Build outputs
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Tooling caches
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.coverage

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Project data outputs
data/output/
