numpy==1.26.4
pandas==2.2.0
scipy==1.13.0
matplotlib==3.8.2
pytest==7.4.4
jupyter==1.0.0
numpy-financial==1.0.0
eth-abi==5.1.0
pydantic>=2.5
openpyxl==3.1.5
pyyaml==6.0.2
requests==2.32.3
plotly==5.18.0
ipywidgets==8.1.1
nbconvert==7.14.0
kaleido==0.2.1
mistune<3
